<div class="contenedor">
    <header class="bg-image" style="
background-image: url('assets/images/header.png'); background-repeat:no-repeat; background-size: 100% 100%;">
        <app-header></app-header>
        <mat-divider class="border border-success"></mat-divider>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer class="bg-image" style="
background-image: url('assets/images/footer.png'); background-repeat:no-repeat; background-size: 100% 100%;">
        <mat-divider class="border border-success"></mat-divider>
        <app-footer></app-footer>
    </footer>
</div>