<div class="container">
    <p class="text-right">
        <button mat-icon-button matSuffix (click)="closeMe()" title="Cancelar">
            <mat-icon class="text-primary">cancel</mat-icon>
        </button>
    </p>
    <form [formGroup]="newFormUsuario">
        <section class="text-center pb-3 text-success h5 text-uppercase">
            <label>Cambio Contraseña</label>
        </section>
        <section>
            <mat-form-field>
                <mat-error *ngIf="usuarioPwd.hasError('minlength') && !usuarioPwd.hasError('required')">
                    Minimo 6 caracteres.
                </mat-error>
                <input matInput placeholder="Nueva Contraseña" formControlName="usuarioPwd"
                    [type]="hide ? 'password' : 'text'" name="usuarioPwd" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </section>
        <section class="align-items-center m-5">
            <button mat-raised-button (click)="savePassword()" [disabled]="!newFormUsuario.valid"
                class="btn btn-success w-100">Guardar</button>
        </section>
    </form>
</div>